# Scrape All Teams

In [1]:
import json
import requests
import pprint
import pandas as pd

/Users/davidshaw/Projects/nhl_dashboard/env/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

## Team Data
scrape

In [2]:
url = 'https://api.nhle.com/stats/rest/en/team'
# # url = 'https://api.nhle.com/stats/rest/en/franchise'
# url = 'https://api.nhle.com/stats/rest/en/team/summary'
r = requests.get(url=url)
d = r.json()
d['data'][0]

{'id': 11,
 'franchiseId': 35,
 'fullName': 'Atlanta Thrashers',
 'leagueId': 133,
 'rawTricode': 'ATL',
 'triCode': 'ATL'}

In [3]:
pd.DataFrame(d['data'])

    id  franchiseId               fullName  leagueId rawTricode triCode
0   11         35.0      Atlanta Thrashers       133        ATL     ATL
1   34         26.0       Hartford Whalers       133        HFD     HFD
2   31         15.0  Minnesota North Stars       133        MNS     MNS
3   32         27.0       Quebec Nordiques       133        QUE     QUE
4   33         28.0   Winnipeg Jets (1979)       133        WIN     WIN
..  ..          ...                    ...       ...        ...     ...
56  70          NaN       To be determined       133        TBD     TBD
57  59          NaN                    XXX       133        XXX     XXX
58   7         19.0         Buffalo Sabres       133        BUF     BUF
59  28         29.0        San Jose Sharks       133        SJS     SJS
60  55         39.0         Seattle Kraken       133        SEA     SEA

[61 rows x 6 columns]

extract

In [4]:
# for team in d['teams']:
#     pprint.pprint(team)
    
teams = [{
    'teamId': team['id'],
    'name': team['fullName'],
    'triCode': team['triCode']
} for team in d['data']]

manually get hex values for team colors

In [5]:
# [{ 
#     'teamId': team['teamId'],
#     'name': team['name']
# } for team in teams]

team_and_color = [{'teamId': 1, 'name': 'New Jersey Devils', 'primaryColor': '#CE1126', 'secondaryColor': '#000000'},
 {'teamId': 2, 'name': 'New York Islanders', 'primaryColor': '#00539B', 'secondaryColor': '#F47D30'},
 {'teamId': 3, 'name': 'New York Rangers', 'primaryColor': '#0038A8', 'secondaryColor': '#CE1126'},
 {'teamId': 4, 'name': 'Philadelphia Flyers', 'primaryColor': '#F74902', 'secondaryColor': '#000000'},
 {'teamId': 5, 'name': 'Pittsburgh Penguins', 'primaryColor': '#FCB514', 'secondaryColor': '#000000'},
 {'teamId': 6, 'name': 'Boston Bruins', 'primaryColor': '#FFB81C', 'secondaryColor': '#000000'},
 {'teamId': 7, 'name': 'Buffalo Sabres', 'primaryColor': '#002654', 'secondaryColor': '#FCB514'},
 {'teamId': 8, 'name': 'Montréal Canadiens', 'primaryColor': '#AF1E2D', 'secondaryColor': '#192168'},
 {'teamId': 9, 'name': 'Ottawa Senators', 'primaryColor': '#C52032', 'secondaryColor': '#000000'},
 {'teamId': 10, 'name': 'Toronto Maple Leafs', 'primaryColor': '#00205B', 'secondaryColor': '#FFFFFF'},
 {'teamId': 12, 'name': 'Carolina Hurricanes', 'primaryColor': '#CC0000', 'secondaryColor': '#000000'},
 {'teamId': 13, 'name': 'Florida Panthers', 'primaryColor': '#C8102E', 'secondaryColor': '#041E42'},
 {'teamId': 14, 'name': 'Tampa Bay Lightning', 'primaryColor': '#002868', 'secondaryColor': '#FFFFFF'},
 {'teamId': 15, 'name': 'Washington Capitals', 'primaryColor': '#C8102E', 'secondaryColor': '#041E42'},
 {'teamId': 16, 'name': 'Chicago Blackhawks', 'primaryColor': '#CF0A2C', 'secondaryColor': '#000000'},
 {'teamId': 17, 'name': 'Detroit Red Wings', 'primaryColor': '#CE1126', 'secondaryColor': '#FFFFFF'},
 {'teamId': 18, 'name': 'Nashville Predators', 'primaryColor': '#FFB81C', 'secondaryColor': '#041E42'},
 {'teamId': 19, 'name': 'St. Louis Blues', 'primaryColor': '#002F87', 'secondaryColor': '#FCB514'},
 {'teamId': 20, 'name': 'Calgary Flames', 'primaryColor': '#C8102E', 'secondaryColor': '#F1BE48'},
 {'teamId': 21, 'name': 'Colorado Avalanche', 'primaryColor': '#6F263D', 'secondaryColor': '#236192'},
 {'teamId': 22, 'name': 'Edmonton Oilers', 'primaryColor': '#041E42', 'secondaryColor': '#FF4C00'},
 {'teamId': 23, 'name': 'Vancouver Canucks', 'primaryColor': '#00205B', 'secondaryColor': '#00843D'},
 {'teamId': 24, 'name': 'Anaheim Ducks', 'primaryColor': '#F47A38', 'secondaryColor': '#000000'},
 {'teamId': 25, 'name': 'Dallas Stars', 'primaryColor': '#006847', 'secondaryColor': '#8F8F8C'},
 {'teamId': 26, 'name': 'Los Angeles Kings', 'primaryColor': '#A2AAAD', 'secondaryColor': '#000000'},
 {'teamId': 28, 'name': 'San Jose Sharks', 'primaryColor': '#006D75', 'secondaryColor': '#EA7200'},
 {'teamId': 29, 'name': 'Columbus Blue Jackets', 'primaryColor': '#002654', 'secondaryColor': '#CE1126'},
 {'teamId': 30, 'name': 'Minnesota Wild', 'primaryColor': '#154734', 'secondaryColor': '#A6192E'},
 {'teamId': 52, 'name': 'Winnipeg Jets', 'primaryColor': '#041E42', 'secondaryColor': '#AC162C'},
 {'teamId': 53, 'name': 'Arizona Coyotes', 'primaryColor': '#8C2633', 'secondaryColor': '#E2D6B5'},
 {'teamId': 54, 'name': 'Vegas Golden Knights', 'primaryColor': '#B4975A', 'secondaryColor': '#333F42'},
 {'teamId': 55, 'name': 'Seattle Kraken', 'primaryColor': '#001628', 'secondaryColor': '#99D9D9'}]

In [6]:
df_teams = pd.DataFrame(teams).merge(pd.DataFrame(team_and_color), on=['teamId', 'name'])

save to json

In [7]:
df_teams.to_json('../../backend/data/teamsCurrent.json', orient='records')

In [8]:
df_teams

    teamId                   name triCode primaryColor secondaryColor
0       17      Detroit Red Wings     DET      #CE1126        #FFFFFF
1        6          Boston Bruins     BOS      #FFB81C        #000000
2       52          Winnipeg Jets     WPG      #041E42        #AC162C
3        5    Pittsburgh Penguins     PIT      #FCB514        #000000
4       14    Tampa Bay Lightning     TBL      #002868        #FFFFFF
5        4    Philadelphia Flyers     PHI      #F74902        #000000
6       10    Toronto Maple Leafs     TOR      #00205B        #FFFFFF
7       12    Carolina Hurricanes     CAR      #CC0000        #000000
8       53        Arizona Coyotes     ARI      #8C2633        #E2D6B5
9       20         Calgary Flames     CGY      #C8102E        #F1BE48
10       8     Montréal Canadiens     MTL      #AF1E2D        #192168
11      15    Washington Capitals     WSH      #C8102E        #041E42
12      23      Vancouver Canucks     VAN      #00205B        #00843D
13      21     Colorado Avalanche     COL      #6F263D        #236192
14      18    Nashville Predators     NSH      #FFB81C        #041E42
15      24          Anaheim Ducks     ANA      #F47A38        #000000
16      54   Vegas Golden Knights     VGK      #B4975A        #333F42
17      25           Dallas Stars     DAL      #006847        #8F8F8C
18      16     Chicago Blackhawks     CHI      #CF0A2C        #000000
19       3       New York Rangers     NYR      #0038A8        #CE1126
20      29  Columbus Blue Jackets     CBJ      #002654        #CE1126
21      13       Florida Panthers     FLA      #C8102E        #041E42
22      22        Edmonton Oilers     EDM      #041E42        #FF4C00
23      30         Minnesota Wild     MIN      #154734        #A6192E
24      19        St. Louis Blues     STL      #002F87        #FCB514
25       9        Ottawa Senators     OTT      #C52032        #000000
26       2     New York Islanders     NYI      #00539B        #F47D30
27      26      Los Angeles Kings     LAK      #A2AAAD        #000000
28       1      New Jersey Devils     NJD      #CE1126        #000000
29       7         Buffalo Sabres     BUF      #002654        #FCB514
30      28        San Jose Sharks     SJS      #006D75        #EA7200
31      55         Seattle Kraken     SEA      #001628        #99D9D9

## Roster Data
scrape

In [9]:
# list of teamIds
SEASON_ID = '20232024'
team_tricodes = sorted(df_teams['triCode'].tolist())
new_roster = []
for tricode in team_tricodes:
    # download roster
    r = requests.get(url=f'https://api-web.nhle.com/v1/roster/{tricode}/{SEASON_ID}')
    d = r.json()
    
    # extract all players
    roster = []
    for position, players in d.items():
        for player in players:
            roster.append(player)
    
    # download info about each player in roster
    for player in roster:
        try:
            # some rookies don't have jersey numbers or positions assigned
            jersey_num = 0
            if 'sweaterNumber' in player:
                jersey_num = player['sweaterNumber']
                
            # some players don't have birth cities
            birth_city = ''
            if 'birthCity' in player:
                birth_city = player['birthCity']['default']
                
            new_roster.append({
                'playerId': player['id'],
                'teamTricode': tricode,
                'birthDate': player['birthDate'],
                'firstName': player['firstName']['default'],
                'lastName': player['lastName']['default'],
                'primaryNumber': jersey_num,
                'birthCity': birth_city,
                'birthCountry': player['birthCountry'],
                'heightInInches': player['heightInInches'],
                'weightInPounds': player['weightInPounds'],
                'shootsCatches': player['shootsCatches'],
                'position': player['positionCode'],
                'headshotUrl': player['headshot']
            })
            
        except:
            print(f'error on playerId {player["id"]}, tricode {tricode}')

In [10]:
df_roster = pd.DataFrame(new_roster)
df_roster.head()

,playerId,teamTricode,birthDate,firstName,lastName,primaryNumber,birthCity,birthCountry,heightInInches,weightInPounds,shootsCatches,position,headshotUrl
0,8484153,ANA,2004-12-26,Leo,Carlsson,91,Karlstad,SWE,75,194,L,C,https://assets.nhle.com/mugs/nhl/20232024/ANA/...
1,8482118,ANA,2001-12-26,Sam,Colangelo,64,Stoneham,USA,74,205,R,R,https://assets.nhle.com/mugs/nhl/20232024/ANA/...
2,8483445,ANA,2004-01-19,Cutter,Gauthier,61,Skelleftea,SWE,74,189,L,L,https://assets.nhle.com/mugs/nhl/20232024/ANA/...
3,8480870,ANA,2000-02-06,Bo,Groulx,24,Rouen,FRA,74,198,L,C,https://assets.nhle.com/mugs/nhl/20232024/ANA/...
4,8477527,ANA,1994-02-18,Ross,Johnston,44,Charlottetown,CAN,77,234,L,L,https://assets.nhle.com/mugs/nhl/20232024/ANA/...

In [11]:
# merge teamId
df_roster = df_roster\
                .merge(df_teams[['triCode', 'teamId']], left_on='teamTricode', right_on='triCode')\
                .drop('triCode', axis=1)
df_roster

,playerId,teamTricode,birthDate,firstName,lastName,primaryNumber,birthCity,birthCountry,heightInInches,weightInPounds,shootsCatches,position,headshotUrl,teamId
0,8484153,ANA,2004-12-26,Leo,Carlsson,91,Karlstad,SWE,75,194,L,C,https://assets.nhle.com/mugs/nhl/20232024/ANA/...,24
1,8482118,ANA,2001-12-26,Sam,Colangelo,64,Stoneham,USA,74,205,R,R,https://assets.nhle.com/mugs/nhl/20232024/ANA/...,24
2,8483445,ANA,2004-01-19,Cutter,Gauthier,61,Skelleftea,SWE,74,189,L,L,https://assets.nhle.com/mugs/nhl/20232024/ANA/...,24
3,8480870,ANA,2000-02-06,Bo,Groulx,24,Rouen,FRA,74,198,L,C,https://assets.nhle.com/mugs/nhl/20232024/ANA/...,24
4,8477527,ANA,1994-02-18,Ross,Johnston,44,Charlottetown,CAN,77,234,L,L,https://assets.nhle.com/mugs/nhl/20232024/ANA/...,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,8475324,WSH,1990-09-21,Nick,Jensen,3,Rogers,USA,73,205,R,D,https://assets.nhle.com/mugs/nhl/20232024/WSH/...,15
824,8480873,WSH,2000-03-07,Rasmus,Sandin,38,Uppsala,SWE,71,182,L,D,https://assets.nhle.com/mugs/nhl/20232024/WSH/...,15
825,8477845,WSH,1991-07-24,Trevor,van Riemsdyk,57,Middletown,USA,75,191,R,D,https://assets.nhle.com/mugs/nhl/20232024/WSH/...,15
826,8475311,WSH,1990-05-05,Darcy,Kuemper,35,Saskatoon,CAN,77,215,L,G,https://assets.nhle.com/mugs/nhl/20232024/WSH/...,15
827,8479292,WSH,1993-12-18,Charlie,Lindgren,79,Lakeville,USA,74,179,R,G,https://assets.nhle.com/mugs/nhl/20232024/WSH/...,15

In [12]:
# save roster data
df_roster.to_json('../../backend/data/rosterCurrent.json', orient='records')

## Headshot Images

In [13]:
import time

In [16]:
count = 0
for row in df_roster[['playerId', 'headshotUrl']].iterrows():
    # sleep so the api doesn't rate limit us
    if count % 20 == 0:
        print(f'through {count} players, sleeping 1 second')
        time.sleep(1)
    count += 1
    
    playerId = row[1]['playerId']
    img = requests.get(row[1]['headshotUrl']).content
    with open(f'../../frontend/src/assets/headshots/{playerId}.jpg', 'wb') as handler:
        handler.write(img)

through 0 players, sleeping 1 second
through 20 players, sleeping 1 second
through 40 players, sleeping 1 second
through 60 players, sleeping 1 second
through 80 players, sleeping 1 second
through 100 players, sleeping 1 second
through 120 players, sleeping 1 second
through 140 players, sleeping 1 second
through 160 players, sleeping 1 second
through 180 players, sleeping 1 second
through 200 players, sleeping 1 second
through 220 players, sleeping 1 second
through 240 players, sleeping 1 second
through 260 players, sleeping 1 second
through 280 players, sleeping 1 second
through 300 players, sleeping 1 second
through 320 players, sleeping 1 second
through 340 players, sleeping 1 second
through 360 players, sleeping 1 second
through 380 players, sleeping 1 second
through 400 players, sleeping 1 second
through 420 players, sleeping 1 second
through 440 players, sleeping 1 second
through 460 players, sleeping 1 second
through 480 players, sleeping 1 second
through 500 players, sleeping 1 second
through 520 players, sleeping 1 second
through 540 players, sleeping 1 second
through 560 players, sleeping 1 second
through 580 players, sleeping 1 second
through 600 players, sleeping 1 second
through 620 players, sleeping 1 second
through 640 players, sleeping 1 second
through 660 players, sleeping 1 second
through 680 players, sleeping 1 second
through 700 players, sleeping 1 second
through 720 players, sleeping 1 second
through 740 players, sleeping 1 second
through 760 players, sleeping 1 second
through 780 players, sleeping 1 second
through 800 players, sleeping 1 second
through 820 players, sleeping 1 second

In [17]:
# playerId = 8481525
# headshot_url = f'https://assets.nhle.com/mugs/nhl/latest/{playerId}.png'
# img = requests.get(headshot_url).content
# with open(f'../../frontend/src/assets/headshots/{playerId}.jpg', 'wb') as handler:
#     handler.write(img)

In [ ]:
## TODO: team logos (https://assets.nhle.com/logos/nhl/svg/BOS_light.svg)
# 'light' works well with light background (trademark in dark text)
# 'dark' works well with dark background (trademark in light text)

In [1]:
teams

NameError: name 'teams' is not defined